/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* :root {
  --background-color: #000028;
  --accent-color: #ff0070;
  --text-color: #F1B2CE;
  --logo-color: #DB00FF;
  --background-image: url(../images/cover-image-dark.png);
} */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: IBM Plex Mono, sans-serif;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
}

.header {
  padding: 0 0.625rem 0 0.625rem;
  height: 100vh;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 1.25rem;
  left: 0.625rem;
  width: 1.56475rem;
  height: 1.56263rem;
  border-bottom: 1px solid var(--corners-color);
  border-left: 1px solid var(--corners-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  width: 1.56475rem;
  height: 1.56263rem;
  border-top: 1px solid var(--corners-color);
  border-right: 1px solid var(--corners-color);
}

.header__rec {
  position: relative;
}

.header__rec::after {
  content: "REC";
  position: absolute;
  top: 0.625rem;
  left: 18.38rem;
  color: var(--accent-color);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  /* 138.889% */
  text-align: center;
}

.header__rec::before {
  content: "";
  position: absolute;
  top: 1.2rem;
  left: 21.08rem;
  width: 0.5625rem;
  height: 0.5625rem;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.header__theme-menu {
  padding: 4.69rem 0.625rem 0 18.44rem;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.header__theme-menu-button {
  height: 26px;
  border: none;
  padding: 0px 13px;
  color: var(--buttons-color);
  font-weight: 400;
  font-size: 1.125rem;
  font-style: normal;
  line-height: 1.125rem;
  text-align: center;
  background-color: transparent;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--buttons-color);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
  text-underline-offset: 0.35rem;
}

.header__theme-menu-button_active {
  border: 1px solid var(--buttons-color);
  pointer-events: none;
}

.header__big-header {
  padding: 4.12rem 0 3.55rem 0;
  text-shadow: 4px 4px 0px var(--shadow-color);
}

.big-header {
  color: var(--logo-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  line-height: 82.5%;
  /* 5.98125rem */
}

.title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 1.125rem;
  font-style: normal;
  line-height: 130%;
}

.title-decor {
  background: var(--accent-color);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 40px;
  padding: 0 0.625rem;
  color: var(--text-color);
  font-weight: 400;
  font-size: 1.125rem;
  font-style: normal;
  line-height: 130%;
}

.why__header,
.what__header,
.how__header {
  padding-bottom: 1.25rem;
  color: var(--header-color);
  font-weight: 700;
  font-size: 1.125rem;
  font-style: normal;
  line-height: 1.4625rem;
  /* 130% */
}

.why__list,
.what__list,
.how__list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.why__list-item_title,
.what__list-item_title,
.how__list-item_title {
  margin-bottom: 0.62rem;
}

.how__text {
  margin-bottom: 1.25rem;
}

.how__list-item_title {
  font-weight: 400;
}

.pics__header {
  margin-bottom: 0.62rem;
}

.pics__gallery {
  display: flex;
  flex-direction: column;
  gap: 0.62rem;
  align-items: center;
}

.pics__gallery_item {
  width: 22.18744rem;
}

.footer {
  margin-top: 2.5rem;
  padding: 17.87rem 0.81rem 17.81rem 0.87rem;
}

.footer__big-header {
  text-shadow: 2px 2px 0px var(--shadow-color);
}

.link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  border: 1px solid var(--text-color);
}

@media (768px <= width < 1024px) {
  /* планшеты */
  .decorated-zone::before {
    top: 1.25rem;
    right: 1.25rem;
  }

  .decorated-zone::after {
    left: 1.325rem;
  }

  .header__rec::after {
    top: 1.25rem;
    left: 42.95rem;
  }

  .header__rec::before {
    top: 1.8rem;
    left: 45.7rem;
  }

  .header__theme-menu-list {
    align-items: end;
    margin-top: 7.25rem;
  }

  .header {
    padding-bottom: 10.9rem;
    padding-left: 0;
  }

  .big-header {
    font-size: (7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__big-header {
    padding: 11rem 0 10rem 0;
  }

  .header__title {
    margin-right: 0.5rem;
    margin-left: 24rem;
  }

  .main {
    gap: 5rem;
    margin-top: 3.7rem;
    padding: 0 1.25rem;
  }

  .why,
  .how {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 1.25rem;
  }

  .why__header,
  .what__header,
  .how__header {
    width: 14.75rem;
  }

  .why__list,
  .how__list {
    width: 29.5rem;
  }

  .how__text {
    display: block;
    flex-shrink: 1;
    width: 29.5rem;
    height: 1.49525rem;
    margin: 0;
  }

  .how__list {
    margin-top: -5.55rem;
  }

  .pics__header {
    margin-bottom: 1.25rem;
  }

  .pics__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 12rem 14.375rem 19.875rem;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    gap: 1.25rem;
  }

  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .tape {
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }

  .pics__gallery_item {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .footer {
    margin-top: 3.75rem;
    padding: 28.94rem 12.75rem 28.2rem 12.75rem;
  }
}

@media (width >=1024px) {
  /* десктоп */
  .header {
    padding: 0 0 8rem;
  }

  .decorated-zone::before {
    top: 1.25rem;
    right: 1.25rem;
  }

  .decorated-zone::after {
    left: 1.325rem;
  }

  .header__rec::after {
    top: 1.25rem;
    left: 59rem;
  }

  .header__rec::before {
    top: 1.8rem;
    left: 61.7rem;
  }

  .header__theme-menu {
    padding: 1.25rem 0 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
  }

  .big-header {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__big-header {
    padding: 17rem 0 7.13rem;
  }

  .header__title {
    margin: 0 1.25rem 0 32.06rem;
  }

  .main {
    gap: 5rem;
    margin-top: 3.7rem;
    padding: 0 1.25rem;
  }

  .why,
  .how {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 1.25rem;
  }

  .why__header,
  .what__header,
  .how__header {
    width: 19.685rem;
  }

  .why__list,
  .how__list {
    width: 40.55738rem;
  }

  .what__list {
    flex-direction: row;
  }

  .what__list-item {
    width: 19.6875rem;
  }

  .how__text {
    display: block;
    flex-shrink: 1;
    width: 40.55738rem;
    height: 1.49525rem;
    margin: 0;
  }

  .how__list {
    margin-top: -4.1rem;
  }

  .pics__header {
    margin-bottom: 1.25rem;
  }

  .pics__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 16.25rem 19.6875rem 26.75rem;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    gap: 1.25rem;
  }

  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .tape {
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }

  .pics__gallery_item {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .footer {
    height: 100vh;
    margin-top: 4rem;
    padding: 19.94rem 17.25rem 19.94rem 17.31rem;
  }
}
